<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>modelId</key>
			<integer>3</integer>
			<key>name</key>
			<string>Familia</string>
			<key>uuid</key>
			<string>wrx0GScVQ76Bcc+KCn39wg</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>6</integer>
			<key>name</key>
			<string>Cumpleaños</string>
			<key>uuid</key>
			<string>mmNauSjhST+7gfVD6ZDHRg</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>2</integer>
			<key>name</key>
			<string>Favorito</string>
			<key>uuid</key>
			<string>Jlyh2rJMT4Wqw6WgnLHYGg</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>5</integer>
			<key>name</key>
			<string>Vacaciones</string>
			<key>uuid</key>
			<string>8oRB9X3QR5enkOwolCq9yg</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>1</integer>
			<key>name</key>
			<string>✔</string>
			<key>uuid</key>
			<string>Bq1XX6++TaCTL90VHOdoAQ</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>4</integer>
			<key>name</key>
			<string>Niños</string>
			<key>uuid</key>
			<string>0+S+0gCGQx2PZ1+Melq5oQ</string>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>7</integer>
</dict>
</plist>
